{% extends 'main/base.html' %}

{% load staticfiles %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/actions.css' %}">
{% endblock %}

{% block headline %}
	Белостокско-Минское сражение<span>{{ curr_page.title }}</span>
{% endblock %}

{% block content %}

<div class="body">
	<h1 class="h">
		Действия сторон
	</h1>

	<h2 class="h">
		Начало немецкого наступления
	</h2>

	<p>
		Наземному наступлению вермахта предшествовало мощное воздушное нападение, которое в считанные часы привело к разгрому советской авиации.
	</p>

	<table cols="1" align="right" cellpadding="5" bordercolor="lightsteelblue" rules="all" width="30%">
		<tr>
			<td align="center">
				<img src="{% static 'images/minsk_defense.jpg' %}">
			</td>
		</tr>
		<tr>
			<td align="center">
				Бои на Белостокском выступе 22-25 июня 1941
			</td>
		</tr>
	</table>

	<p>
		Немецкая 3-я танковая группа (командующий — генерал-полковник Г. Гот) наносила основной удар в Литве, с тем чтобы разгромив находившиеся там советские войска, зайти в тыл советскому Западному фронту. В первый же день моторизованные корпуса вышли к Неману и захватили мосты в Алитусе и Мяркине, после чего продолжили наступление на восточном берегу. Сражение за Алитус между боевыми отрядами немецкого 39-го мотокорпуса и советской 5-й танковой дивизией оказалось одним из самых тяжелых за всю войну для 39-го мотокорпуса.
	</p>
	
	<p>
		Действовавшая южнее немецкая 9-я армия (командующий — генерал-полковник А. Штраус) атаковала с фронта советскую 3-ю армию (командующий — генерал-лейтенант В. И. Кузнецов), отбросила её и на следующий день заняла Гродно. Контратака советского 11-го механизированного корпуса под Гродно в первый день войны была отбита.
	</p>

	<p>
		На фронте советской 10-й армии противник вёл отвлекающие действия, однако на южном фасе Белостокского выступа тремя корпусами (в первом эшелоне) немецкая 4-я армия (командующий — генерал-фельдмаршал Г. фон Клюге) нанесла сокрушительный удар в направлении Бельск. Оборонявшиеся здесь три советские стрелковые дивизии были отброшены и частично рассеяны. В полдень 22 июня в районе Браньска с немецкими войсками вступил в бой советский 13-й мехкорпус, находившийся в стадии формирования. К исходу дня советские войска были выбиты из Браньска. Весь следующий день за этот город шёл бой. После отражения советских контратак 24 июня немецкие войска продолжили наступление и заняли Бельск.
	</p>

	<p>
		В районе Бреста советская 4-я армия подверглась удару 2-й танковой группы (командующий — генерал-полковник Г. Гудериан). Два немецких моторизованных корпуса форсировали р. Буг севернее и южнее Бреста, непосредственно на город наступал 12-й армейский корпус в составе 3 пехотных дивизий. В течение короткого времени советские соединения, располагавшиеся в самом Бресте, крепости и военных городках вокруг Бреста (2 стрелковые и 1 танковая дивизии), были разгромлены в результате артиллерийских ударов и авианалётов. Уже к 7:00 22 июня Брест был захвачен, однако в Брестской крепости и на вокзале сопротивление советских подразделений продолжалось ещё в течение недели.
	</p>
	
	<h2 class="h">
		Советские контрудары
	</h2>

	<p class="remark" align="right">
		Начало немецкого наступления. Перевязочный пункт под Августовом. 22 июня 1941 года
	</p>

	<p>
		Вечером 22 июня командующим Северо-Западного, Западного и Юго-Западного фронтов поступила «Директива № 3» за подписями наркома обороны СССР маршала Тимошенко, начальника Генштаба СССР Жукова и члена главвоенсовета Маленкова, предписывавшая «нанеся мощный контрудар» уничтожить наступающего противника и к 24 июня занять польские города Сувалки и Люблин. 23 июня в штаб Западного фронта вылетели представители высшего командования маршалы Б. М. Шапошников и Г. И. Кулик, затем маршал К. Е. Ворошилов.
	</p>

	<p1 class="date">
		Created: December 7, 2018
	</p1>
</div>

{% endblock %}
