{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Historic site</title>
	<meta charset="UTF-8"/>
	<link rel="icon" href="{% static 'images/favicon_ico.png' %}" sizes="48x48" />
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	{% block links %}
	{% endblock %}

</head>
<body>
	<h1 class="h headline">
		{% block headline %}{% endblock %}
	</h1>
	<div class="meta">
		An <span>Article</span> by <span><a href="">@FedotSoldier</a></span>
	</div>
	<div class="scroll-list" style="width:20; display:inline-block;">
		{% for page in pages %}
			<a {% if page == curr_page %} style="color:#ffa500;" {% endif %}
			   href="{% url 'page_detail' pattern=page.urlpattern_name %}">{{ page.title }}
			</a> <br/>
		{% endfor %}
	</div>
	<a class="button" href="{% url 'page_detail' pattern=prev_page %}"
	   style="width:10%; display:inline-block; vertical-align:top;">
		Previous page
	</a>
	<a class="button" href="{% url 'page_detail' pattern=next_page %}"
	   style="width:10%; display:inline-block; vertical-align:top;">
		Next page
	</a>

	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
	
	<br/><br/><br/>
	<a href="{% url 'page_detail' pattern=prev_page %}" class="button">Previous page </a>
	<a href="{% url 'page_detail' pattern=next_page %}" class="button">Next page     </a>
	<br/><br/><br/>
</body>
</html>
