{% extends 'main/base.html' %}

{% load staticfiles %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/popup_img.js' %}"></script>
{% endblock %}

{% block headline %}
	Белостокско-Минское сражение<span>{{ curr_page.title }}</span>
{% endblock %}

{% block content %}

<div class="body">
	<div style="width:40%; display:inline-block; vertical-align:top; margin-left:2%;">
		<h2>{{ curr_page.subtitle }}</h2>
		<p>
			{{ curr_page.content|safe }}
		</p>
	</div>
	<div style="width:15%; display:inline-block;">
	</div>
	<div style="width:40%; display:inline-block;">
		<div>
			<img src="{{ curr_page.card_link }}"
				 width="60%" style="border-radius:5px;">
		</div>
		<div>
			<p style="text-indent:0%; text-align:left; font-size:20px;">
				{{ curr_page.card_description|linebreaksbr }}
				<a href="{{ curr_page.card_source }}">
					Источник
				</a>
			</p>
		</div>
	</div>
	<p1 class="date">
		Created: {{ curr_page.created_date|date:"j, F Y" }}
	</p1>
</div>

{% endblock %}
