{% extends 'main/base.html' %}

{% load staticfiles %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
{% endblock %}

{% block headline %}
	Белостокско-Минское сражение<span>{{ curr_page.title }}</span>
{% endblock %}

{% block content %}

<div class="body">

	<table cols="2" align="right" cellpadding="5" bordercolor="lightsteelblue" rules="all">
		<tr>
			<td class="sub" colspan="2">Белостокско-Минское сражение</td>
		</tr>
		<tr>
    		<td>Основной конфликт</td>
    		<td>Вторая мировая война</td>
  		</tr>
  		<tr>
			<td>Дата</td>
			<td>22 июня–8 июля 1941</td>
		</tr>
		<tr>
			<td>Место</td>
			<td>БССР, СССР</td>
		</tr>
		<tr>
			<td>Итог</td>
			<td>
				Победа Третьего Рейха
				Разгром советского Западного фронта
			</td>
		</tr>
		<tr>
			<td class="sub" colspan="2">Противники</td>
		</tr>
		<tr>
			<td>Германия</td>
			<td>СССР</td>
		</tr>
		<tr>
			<td class="sub" colspan="2">Командующие</td>
		</tr>
		<tr>
			<td>Ф. фон Бок </td>
			<td>Д. Г. Павлов</td>
		</tr>
		<tr>
			<td>А. Кессельринг </td>
			<td>В. Е. Климовских</td>
		</tr>
		<tr>
			<td>Г. фон Клюге </td>
			<td>В. И. Кузнецов</td>
		</tr>
		<tr>
			<td>А. Штраус </td>
			<td>К. Д. Голубев</td>
		</tr>
		<tr>
			<td>Г. Гот </td>
			<td>А. А. Коробков</td>
		</tr>
		<tr>
			<td>Г. Гудериан </td>
			<td>П. М. Филатов</td>
		</tr>
		<tr>
			<td>М. фон Вейхс</td>
			<td></td>
		</tr>
		<tr>
			<td class="sub" colspan="2">Силы сторон</td>
		</tr>
		<tr>
			<td>1,45 млн. человек</td>
			<td>790 тыс. человек</td>
		</tr>
		<tr>
			<td class="sub" colspan="2">Потери</td>
		</tr>
		<tr>
			<td>6 535 убитых;</td>
			<td>341 073 безвозвратные потери</td>
		</tr>
		<tr>
			<td>20 071 раненых;</td>
			<td>76 717 санитарные потери</td>
		</tr>
		<tr>
			<td>1 111 пропали без вести</td>
			<td></td>
		</tr>
	</table>

	<h2 class="h">
		Белостокско-Минское сражение
	</h2>

	<p>
		<a href="https://ru.wikipedia.org/wiki/Белостокско-Минское_сражение"> Белостокско-Минское сражение</a>
		— приграничное сражение на центральном участке советско-германского фронта
		во время Великой Отечественной войны.
		В результате сражения основные силы советского Западного фронта оказались в окружении
		и были частично разгромлены, частично дезертировали, частично ушли в партизаны, частично попали в плен.
		28 июня немецкие войска взяли Минск.
	</p>
	<p>
		Сама оборона Минска входит в оборонительную операцию в Белоруссии,
		проходившую с 22 июня 1941 года до 9 июля 1941.<br>
		Её границы можно определить с 24 июня, момента прибытия основных частей
		и начала оборонительного сражения под  Минском,
		до 28 июня, когда в Минск вступили немецкие войска.
	</p>
	
	<h1 class="h">
		Планы и силы сторон
	</h1>

	<h2 class="h">
		Германия
	</h2>
	
	<img src="{% static 'images/peopleV.jpg' %}" align="left" width="150" style="margin: 1%;">

	<p>
		Немецкое командование наносило основной удар на Московском направлении силами группы армий «Центр» и 2-го воздушного флота
	</p>

	<p>
		На 22 июня 1941 общая численность 1 453 200 солдат и офицеров (50 дивизий), 1700 танков, 910 самолетов, 3000 орудий.
	</p>

	<p>
		План заключался в нанесении удара сильными фланговыми группировками при относительно слабом центре. 2-я и 3-я группы должны были соединиться и окружить советские войска западнее Минска. Одновременно пехотные соединения (всего 7 армейских корпусов, 20 пехотных дивизий), сведённые в две армии, вели наступление на окружение и должны были соединиться восточнее Белостока.
	</p>

	<h2 class="h">СССР</h2>

	<p>
		Планы СССР на начальный период войны точно не установлены.
	</p>
		<!-- &emsp; &ensp; &thinsp; &nbsp;-->
	<p>
		По одной версии (Ю. Горьков), приграничные советские армии должны были прикрыть отмобилизование и развёртывание основных сил, в процессе построения стратегической обороны до Москвы. По другой (М. Мельтюхов), планы прикрытия приграничных округов были всего лишь прикрытием отмобилизования и развёртывания и подготовки к возможной стратегической наступательной операции.
	</p>

	<p>
		На 22 июня 1941 года <i>Западный фронт</i> имел в своем составе четыре армии:<br>
		· 3-я армия (командующий — генерал-лейтенант В. И. Кузнецов)<br>
		· 10-я армия (генерал-майор К. Д. Голубев)<br>
		· 4-я армия (генерал-майор А. А. Коробков)<br>
		· 13-я армия (генерал-лейтенант П. М. Филатов)<br>
		Части и соединения фронтового подчинения, в том числе 17-й и 20-й мехкорпуса,
			4-й воздушно-десантный корпус, 2-й, 44-й и 47-й стрелковые корпуса.<br>
		Всего в составе фронта насчитывалось 45 дивизий (24 стрелковых, 12 танковых, 6 моторизованных,
			2 кавалерийские; 4-й воздушно-десантный корпус принят за расчётную дивизию).<br>
	<p>
		Противовоздушную оборону наиболее важных объектов в границах военного округа осуществляли войска Западной зоны ПВО. Всего в составе округа было 44 дивизии (24 стрелковые дивизии, 2 кавалерийские дивизии, 12 танковых дивизий, 6 мотострелковых дивизий, 3 воздушно-десантных бригады, 8 укрепленных районов.
	</p>

	<p>
		В обороне принимали участие дивизии и корпуса 13 армии в составе Западного фронта под командованием
		Филатова Петра Михайловича, в частности обороняли Минск 108-я стрелковая дивизия (командир Орлов Н. И.),
		64-я стрелковая дивизия (командир Иовлев С. И.), 44-й стрелковый корпус (командир Юшкевич В. А.),
		100-я стрелковая дивизия (командир Руссиянов И. Н.).
		Вели наступление 47-й моторизированный корпус немецкой 2-й танковой группы под командованием Йоахима Лемельзена
		и 57-й моторизированный корпус 3-й танковой группы под командованием Адольфа Кунтцена.
	</p>

	<p1 class="date">
		Created: December 7, 2018
	</p1>
</div>

{% endblock %}
