{% extends 'main/base.html' %}

<!-- Сообщаем Django, что мы подключаем статические файлы -->
<!-- Нужно указать именно staticfiles, а не static,
     иначе при изменении css файла изменения не будут
     приходить на сервер. Даже если удалить файл,
     со static вместо staticfiles он продолжит работать -->
{% load staticfiles %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
{% endblock %}


{% block headline %}
	Our history website<span>A Demo For Beautiful Historical Sites on the Web</span>
{% endblock %}


{% block content %}
	<div class="body">
		<p>
			This is the test page!
		</p>
		<p1 class="date">
			Created: Novemer 4, 2018
		</p1>
	</div>
{% endblock %}
