body {
  background: #f7d7ab;
}

h1 {
  font-size: 2.5em;
  font-family: Ubuntu;
  letter-spacing: 0.1em;
  color: rgb(142,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
  border-color: #cc6600;
  border-width: 10px;
  border-style: outset;
  border-radius: 20px;
  margin: 20px;
  padding: 5px 40px 5px 40px;
  text-align: center;
  background-color: #b09071;
}

h1 span {
  display: block;
  margin-top: 0.5em;
  font-family: Verdana;
  font-size: 0.6em;
  font-weight: normal;
  letter-spacing: 0em;
  text-shadow: none;
}

.meta a {
  text-decoration: #7342c7 double underline;
}

.meta {
  font-family: Lobster;
  color: rgba(69,54,37,0.6);
  font-size: 0.85em;
  font-style: italic;
  letter-spacing: 0.25em;
  border-bottom: 1px solid rgba(69,54,37,0.2);
  padding-bottom: 0.5em;
}

.meta span {
  text-transform: capitalize;
  font-style: normal;
  color: rgba(69,54,37,0.8);
}

.body p {
font-family: Verdana;
font-weight: bold;
color: rgb(69,54,37);
}

.date {
  font-family: Georgia;
  color: rgba(69,54,37,0.6);
  font-size: 0.75em;
  font-style: italic;
  letter-spacing: 0.25em;
  border-top: 1px solid rgba(69,54,37,0.2);
  display: block;
  padding-top: 0.5em;
  margin-top: 2em;
}

.scroll-list {
  height: 100px;
  overflow: auto;
  border-color: #66cdaa;
  border-width: 10px;
  border-style: groove;
  border-radius: 20px;
  margin: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #f5ce9a;
}

.one-line {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  width: 15.5%;
  margin-right: 2%;
}

.img-150 {
  width: 150px;
  margin-left: 15px;
  border-radius: 10px;
}

a.button {
  margin-top: 40px;
  margin-left: 15px;
  color: #fff;
  user-select: none; /* Убираем текстовое выделение */
  text-decoration: none;  /* Убираем подчеркивание */
  outline: none; /* Убираем контур вокруг ссылки */
  background-color: #fa8e47; /* Цвет фона */
  padding: 0.8em 1.4em; /* Отступ от текста до рамки */
  border-radius: 15px;
  font-size: 20px;
}

a.button:active {
  background-color: #ee6206; /* Цвет кнопки при нажатии */
}

a.button:hover {
  background-color: #f97f2e; /* Цвет кнопки при наведении курсора */
}
