{% extends 'main/base.html' %}

{% load staticfiles %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/popup_img.js' %}"></script>
{% endblock %}

{% block headline %}
	Белостокско-Минское сражение<span>{{ curr_page.title }}</span>
{% endblock %}

{% block content %}

<div class="body">
	<div style="width:40%; display:inline-block; vertical-align:top; margin-left:2%;">
		<h2>Положение 24 – 25 июня</h2>
		<p>
			{{ curr_page.content }}
		</p>
	</div>
	<div style="width:15%; display:inline-block;">
	</div>
	<div style="width:40%; display:inline-block;">
		<div>
			<img src="{% static 'images/maps/208_2511_424_1.jpg' %}"
				 width="60%" style="border-radius:5px;">
		</div>
		<div>
			<p style="text-indent:0%;; text-align:left; font-size:20px;">
				Карта положения войск фронта на 24-25 июня<br>
				Описывает период с 24.06.1941 по 25.06.1941 г.<br>
				Дата создания документа: 25.06.1941 г.<br>
				Архив: ЦАМО, Фонд: 208, Опись: 2511, Дело: 424<br>
				Авторы документа: ЗапФ<br>
				<a href="https://pamyat-naroda.ru/documents/view/?id=101164274&backurl=division%5C21%20ск::begin_date%5C24.06.1941::end_date%5C25.06.1941::use_main_string%5Ctrue::group%5Cmap::types%5Ckarti:shemi">
					Источник
				</a>
			</p>
		</div>
	</div>
	<p1 class="date">
		Created: April 7, 2019
	</p1>
</div>

{% endblock %}
