{% extends 'main/base.html' %}

{% load staticfiles %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/popup_img.js' %}"></script>
{% endblock %}

{% block headline %}
	Белостокско-Минское сражение<span>{{ curr_page.title }}</span>
{% endblock %}

{% block content %}

<div class="body">
	<div style="width:40%; display:inline-block; vertical-align:top; margin-left:2%;">
		<h2>Положение 27 – 28 июня</h2>
		<p>
			{{ curr_page.content }}
		</p>
	</div>
	<div style="width:15%; display:inline-block;">
	</div>
	<div style="width:40%; display:inline-block;">
		<div>
			<img src="{% static 'images/maps/208_2511_427_1.jpg' %}"
				 width="60%" style="border-radius:5px;">
		</div>
		<div>
			<p style="text-indent:0%;; text-align:left; font-size:20px;">
				Карта положения частей ЗапФ с 25.6 по 30.6<br>
				Описывает период с 26.06.1941 по 30.06.1941 г.<br>
                Дата создания документа: 30.06.1941 г.<br>
                Архив: ЦАМО, Фонд: 208, Опись: 2511, Дело: 427<br>
                Авторы документа: ЗапФ, капитан Суботин<br>
                Описывает боевую операцию: Оборонительное сражение в Белоруссии. 22.6-9.7.41 г<br>
				<a href="https://pamyat-naroda.ru/documents/view/?id=100246357&backurl=fund%5C208::inventory%5C2511::file%5C427::use_main_string%5Ctrue::group%5Call::types%5Copersvodki:rasporyajeniya:otcheti:peregovori:jbd:direktivi:prikazi:posnatovleniya:dokladi:raporti:doneseniya:svedeniya:plani:plani_operaciy:karti:shemi:spravki:drugie">
					Источник
				</a>
			</p>
		</div>
	</div>
	<p1 class="date">
		Created: April 17, 2019
	</p1>
</div>

{% endblock %}
